Repository kubeflow/website, pull requests merged in 2025-07, with the labels that each got.

#4144 trainer: Update Kubeflow Trainer personas diagram
  content/en/docs/components/trainer/images/ai-lifecycle-trainer.drawio.svg
  content/en/docs/components/trainer/images/ml-lifecycle-trainer.drawio.svg
  content/en/docs/components/trainer/images/user-personas.drawio.svg
  content/en/docs/components/trainer/operator-guides/runtime.md
  content/en/docs/components/trainer/overview.md
Labels: lgtm, approved, size/L, area/trainer

#4142 trainer: migration guide from training operator to Trainer V2
  content/en/docs/components/trainer/operator-guides/migration.md
Labels: lgtm, approved, size/M, ok-to-test

#4147 model-registry: update architecture
  content/en/docs/components/model-registry/reference/architecture.md
Labels: size/XS, lgtm, approved, area/model-registry

#4141 spark-operator: Documentation to integrate Spark Operator and Notebooks
  content/en/docs/components/spark-operator/getting-started.md
  content/en/docs/components/spark-operator/user-guide/monitoring-with-jmx-and-prometheus.md
  content/en/docs/components/spark-operator/user-guide/notebooks-spark-operator.md
  content/en/docs/images/spark-operator/notebooks-spark.png
Labels: lgtm, approved, size/L, ok-to-test

#4053 trainer: User guide for PyTorch Training
  content/en/docs/components/trainer/getting-started.md
  content/en/docs/components/trainer/user-guides/_index.md
  content/en/docs/components/trainer/user-guides/pytorch.md
Labels: lgtm, approved, size/L, ok-to-test, area/trainer

#4145 website: Update Kubeflow Getting Started Pages
  content/en/_index.html
  content/en/docs/components/_index.md
  content/en/docs/components/model-registry/reference/rest-api.md
  content/en/docs/components/pipelines/legacy-v1/installation/overview.md
  content/en/docs/components/pipelines/legacy-v1/reference/api/kubeflow-pipeline-api-spec.md
  content/en/docs/components/pipelines/operator-guides/multi-user.md
  content/en/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec.md
  content/en/docs/components/pipelines/user-guides/core-functions/connect-api.md
  content/en/docs/components/pipelines/user-guides/migration.md
  content/en/docs/started/architecture.md
  content/en/docs/started/images/ai-lifecycle-dev-prod.drawio.svg
  content/en/docs/started/images/ai-lifecycle-kubeflow.drawio.svg
  content/en/docs/started/images/ai-lifecycle.drawio.svg
  content/en/docs/started/images/kubeflow-architecture.drawio.svg
  content/en/docs/started/images/kubeflow-intro-diagram.drawio.svg
  content/en/docs/started/images/kubeflow-overview.drawio.svg
  content/en/docs/started/images/ml-lifecycle-dev-prod.drawio.svg
  content/en/docs/started/images/ml-lifecycle-kubeflow.drawio.svg
  content/en/docs/started/images/ml-lifecycle.drawio.svg
  content/en/docs/started/installing-kubeflow/index.md
  content/en/docs/started/introduction.md
  content/en/docs/started/support.md
Labels: lgtm, approved, size/L, area/pipelines, area/community, area/model-registry

#4151 website: removed july virtual summit from nav bar and also moved even from…
  config.toml
  content/en/events/past-events/2025/kubeflow-virtual-symposium-2025.md
Labels: size/XS, lgtm, approved, ok-to-test
