Repository kubeflow/website, pull requests merged in 2025-08, with the labels that each got.

#4161 website: Fix background image in the front page
  content/en/homepage-background.png
Labels: size/XS, lgtm, approved

#4155 website: Add graduation call doc link
  content/en/docs/about/community.md
Labels: size/XS, lgtm, approved, ok-to-test, area/community

#4171 trainer: Update kubeflow sdk reference
  content/en/docs/components/trainer/getting-started.md
  content/en/docs/components/trainer/user-guides/pytorch.md
  content/en/docs/started/architecture.md
Labels: size/XS, lgtm, approved, area/community, area/trainer

#4179 model-registry: add TLS configuration for local development
  content/en/docs/components/model-registry/installation.md
Labels: lgtm, approved, size/M, ok-to-test, area/model-registry

#4180 website: trusted-by-dhl
  content/en/_index.html
  content/en/docs/images/logos/dhl-dark.svg
  content/en/docs/images/logos/dhl-light.svg
Labels: lgtm, approved, size/S

#4181 trainer: Fix the version in installation guide
  content/en/docs/components/trainer/operator-guides/installation.md
Labels: size/XS, lgtm, approved, area/trainer

#4176 model-registry: bump latest version to v0.2.22
  layouts/shortcodes/model-registry/latest-version.html
Labels: size/XS, lgtm, approved, area/website, area/model-registry

#4163 website: added gsoc 25 project details
  content/en/events/upcoming-events/gsoc-2025.md
Labels: lgtm, approved, size/M, ok-to-test, area/website, area/gsoc, area/community

#4153 website: Update distributions
  content/en/docs/started/installing-kubeflow/index.md
  layouts/shortcodes/azure/latest-version.html
  layouts/shortcodes/redhat/latest-version.html
Labels: lgtm, approved, size/S, area/website, area/community

#4183 trainer: Add MLX user guide
  content/en/docs/components/trainer/user-guides/deepspeed.md
  content/en/docs/components/trainer/user-guides/mlx.md
Labels: lgtm, approved, size/L, area/trainer

#4191 trainer: Update minimum Kubernetes version in prerequisites
  content/en/docs/components/trainer/operator-guides/installation.md
Labels: size/XS, lgtm, approved, area/trainer

#4192 trainer: Change label for deprecated runtimes
  content/en/docs/components/trainer/operator-guides/runtime.md
Labels: size/XS, lgtm, approved, area/trainer
